agent-framework
asyncio
beautifulsoup4
chromadb
faiss-cpu
gradio
gradio_client
ipykernel
langchain-chroma
langchain[openai]
langchain-openai
langchain-community
langgraph
numpy
openai
python-dotenv
semantic-kernel[azure]
streamlit