azure-ai-evaluation
azure-ai-generative[evaluate,index,promptflow]
azure-ai-projects
azure-identity
azure-search-documents
beautifulsoup4
chromadb
click
dataclasses_json
datasets
faiss-cpu
fastapi
gradio
gradio_client
httpx
huggingface_hub
ipykernel
Jinja2
langchain
langchain-chroma
langchain-community
langchain-openai
langchain-text-splitters
langchainhub
langgraph
matplotlib
mem0ai
numpy
openai
pandas
pillow
python-dotenv
pyyaml
seaborn
semantic-kernel[azure]
streamlit
tavily-python
transformers[torch]
uvicorn